<?php

// Configuration for Youtube-dl WebUI
// No "/" at the end of outputFolder or logFolder

return [
	"bin" => "/usr/local/bin/yt-dlp",
	"outputFolder" => "downloads",
	"extracter" => "ffmpeg",
	"log" => true,
	"outfilename" => "%(title)s-%(id)s.%(ext)s",
	"logFolder" => "logs",
	"max_dl" => 3,
];
